.btn {
  padding: 20px 35px;
  cursor: pointer;
  border-radius: 10px;
  border: none;
  color: white;
}

#BtnHero:hover {
  background-color: rgba(53, 68, 96, 0.247);
}

/* Media Queries */
@media (max-width: 768px) {
  .btn {
    padding: 15px 25px;
    font-size: small;
  }
}
