.benefit-content .benefit {
  width: 100%;
  max-width: 400px;
}

.benefit-content .benefit .ofert-title {
  display: inline-block;
  background: #073a7794;
  border-radius: 20px;
}

.benefit-content .benefit .ofert-title span {
  display: flex;
  gap: 5px;
  border-radius: 20px;
  padding: 10px 15px;
}

.benefit-content .benefit .ofert-title span svg {
  stroke: yellow;
}

.benefit-content .infor-benefit h2 {
  font-size: xxx-large;
  padding: 20px 0;
}

.benefit-content .infor-benefit p {
  font-size: larger;
  color: #ccc;
  padding: 10px 0;
  line-height: 1.4;
}

.benefit-content .infor-confianca {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 10px 0;
}

.benefit-content .infor-confianca .card-benefit {
  display: flex;
  gap: 10px;

  align-items: flex-start;
}

.benefit-content .infor-confianca .card-benefit span svg {
  width: 25px;
  height: 25px;
  box-sizing: content-box;
  stroke: #09cf09;
}

.benefit-content .infor-confianca .card-benefit p {
  color: var(--corText-gray);
  padding: 4px 0;
}

.benefit-content .card-whats {
  width: 400px;
  background: white;
  color: black;
  text-align: center;
  border-radius: 15px;
}

.benefit-content .card-whats .infor-whats span svg {
  margin: 20px 0;
  width: 30px;
  height: 30px;
  padding: 20px;
  box-sizing: content-box;
  background: var(--corBtn-hover);
  border-radius: 10px;
  stroke: white;
}

.benefit-content .card-whats .infor-whats h3 {
  font-size: x-large;
  padding: 10px 0 0;
}

.benefit-content .card-whats .infor-whats p {
  font-size: large;
  padding: 10px 0;
}

.benefit-content .card-whats .actions-whats {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: auto;
  gap: 10px;
}

.urlWhats-orcament {
  padding: 8px 0;
}

.benefit-content .card-whats .actions-whats button {
  padding: 15px;
  width: 100%;
  border: none;
  background: var(--corBtn-hover);
  color: white;
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  cursor: pointer;
  transition: var(--hovers-suave);
  -webkit-transition: var(--hovers-suave);
  -moz-transition: var(--hovers-suave);
  -ms-transition: var(--hovers-suave);
  -o-transition: var(--hovers-suave);
}

.benefit-content .card-whats .actions-whats button:hover {
  background-color: rgb(4, 4, 147);
}

.benefit-content .card-whats .actions-whats button svg {
  width: 20px;
  height: 20px;
}

.benefit-content .card-whats .actions-whats span {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7px;
}

.benefit-content .card-whats .actions-whats span svg {
  stroke: #f1a10d;
  width: 20px;
  height: 20px;
}

.benefit-content .card-whats .valid-hero .section-valid .descri-statist {
  color: var(--cor-tex);
}

.benefit-content .card-whats .bonus-whats {
  display: flex;
  align-items: stretch;
  justify-content: center;
  text-align: justify;
  margin: 30px 0;
}
.benefit-content .card-whats .bonus-whats span svg {
  width: 30px;
  height: 20px;
  stroke: #f54900;
  fill: #f549004d;
}
.benefit-content .card-whats .bonus-whats h4 {
  padding: 0 10px 5px;
}
.benefit-content .card-whats .bonus-whats div p {
  padding: 0 10px 5px;
  color: var(--cor-textApagado);
}
