.card {
  width: 67%;
  max-width: 260px;
  padding: 30px;
  border: 1px solid var(--corBtn-hover);
  border-radius: 10px;
  will-change: transform;
  transition: var(--hovers-suave);
  -webkit-transition: var(--hovers-suave);
  -moz-transition: var(--hovers-suave);
  -ms-transition: var(--hovers-suave);
  -o-transition: var(--hovers-suave);
}

.card:hover {
  transform: scale(1.05);
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -o-transform: scale(1.05);
}

.card span svg {
  width: 30px;
  height: 30px;
  padding: 15px;
  box-sizing: content-box;
  background: var(--corBtn-hover);
  fill: white;
  border-radius: 10px;
}

.card h3 {
  margin: 15px 0;
}

.card p {
  line-height: 1.5;
}

/* Media Queries */
@media (max-width: 768px) {
  .card {
    width: 90%;
    max-width: none;
    padding: 20px;
  }

  .card h3 {
    font-size: medium;
  }

  .card p {
    font-size: small;
  }

  .card span svg {
    width: 25px;
    height: 25px;
    padding: 10px;
  }
}
