:root {
  --cortext-primary: #50a2ff;
  --corBtn-primary: #155dfc;
  --corText-gray: #d1d5dc;
  --corBtn-hover: #013bb8;
  --hovers-suave: all 0.4s ease;
  --cor-textApagado: #4a5565;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

.hero {
  position: relative;
  width: 100%;
  height: 100vh;

  background-image: linear-gradient(320deg, #0062d1ae, transparent),
    url("data:image/svg+xml,%3Csvg width='60' height='60' viewBox='0 0 60 60' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='rgba(255,255,255,0.15)' fill-rule='evenodd'%3E%3Cpath d='M36 34v-4h-2v4h-4v2h4v4h2v-4h4v-2h-4zm0-30V0h-2v4h-4v2h4v4h2V6h4V4h-4zM6 34v-4H4v4H0v2h4v4h2v-4h4v-2H6zM6 4V0H4v4H0v2h4v4h2V6h4V4H6z'/%3E%3C/g%3E%3C/svg%3E");

  background-repeat: repeat;
  background-size: auto;
}

/* overlay */
.hero::after {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(45deg, #0a33ff5c, #000000);
  z-index: 1;
}

.section-hero {
  background: linear-gradient(168deg, #897c7c6e, #00000029);
}

.infor-hero {
  position: relative;
  z-index: 2;
  margin: auto;
  height: 100vh;
  display: flex;
  flex-direction: column;
  width: 50%;
  align-items: center;
  justify-content: center;
}

.infor-hero .fucos-ti {
  color: #8ec5ff;
  background: #1b2d48;
  border-radius: 20px;
  margin: 50px;
  padding: 7px 10px;
  font-size: large;
  border: 1px solid #8ec5ff91;
}

.infor-hero .fucos-ti span {
  font-weight: 700;
  color: #52a9ff;
}

.infor-hero .intro-hero h1 {
  font-size: 4.5rem;
  width: 90%;
  line-height: 1.4;
  text-align: center;
  margin: auto;
}
.infor-hero .intro-hero h1 span {
  color: var(--cortext-primary);
}

.infor-hero .intro-hero p {
  text-align: center;
  font-size: x-large;
  line-height: 1.5;
  width: 80%;
  margin: 20px auto;
  color: var(--corText-gray);
}

.infor-hero .btns-hero {
  display: flex;
  align-items: center;
  gap: 30px;
  margin: 40px auto;
}

.infor-hero .btns-hero button {
  padding: 20px 35px;
  cursor: pointer;
  border-radius: 10px;
  border: none;
  background: var(--corBtn-primary);
  font-size: medium;
  transition: var(--hovers-suave);
  -webkit-transition: var(--hovers-suave);
  -moz-transition: var(--hovers-suave);
  -ms-transition: var(--hovers-suave);
  -o-transition: var(--hovers-suave);
}

.infor-hero .btns-hero button:hover {
  background-color: var(--corBtn-hover);
  color: rgba(255, 255, 255, 0.704);
}

.valid-hero {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
  margin: 20px 0;
}

.valid-hero .section-valid {
  justify-content: space-evenly;
  margin-top: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.valid-hero .section-valid .statistic-hero {
  text-align: center;
  color: var(--cortext-primary);
  font-size: xx-large;
  font-weight: 600;
}

.valid-hero .section-valid .descri-statist {
  color: var(--corText-gray);
  margin-top: 10px;
}

/* SOLUÇÔES */
.about {
  color: #000;
  background-color: #fff;
  width: 100%;
  height: 100%;
  margin: auto;
}

.content-about {
  width: 100%;
  max-width: 1100px;
  height: 100%;
  padding: 50px;
  margin: auto;
}

.content-about .inforSect {
  font-size: x-large;
}

.inforSect {
  text-align: center;
  justify-content: space-around;
  width: 90%;
  margin: 0 auto;
  padding: 40px 0;
  font-size: xx-large;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.about .inforSect::after {
  content: "";
  background-color: var(--corBtn-primary);
  width: 25%;
  max-width: 120px;
  height: 5px;
  position: relative;
  top: auto;
  bottom: 0;
  border-radius: 20px;
}

.about p {
  color: var(--cor-textApagado);
  font-size: larger;
}

.about h2 {
  font-size: xx-large;
}

.about .emphasis-text {
  color: var(--corBtn-primary);
}

.about .destaq-text {
  color: black;
  font-weight: bold;
}

.about-content {
  display: flex;
  align-items: center;
  gap: 60px;
}

.about-content .stack-about {
  width: 90%;
  max-width: 420px;
  color: white;
  border-radius: 10px;
  position: relative;
  overflow: hidden;

  /* APENAS a cor */
  background: linear-gradient(324deg, #1338f3eb, #000);
}

.about-content .stack-about::before {
  content: "";
  position: absolute;
  inset: 0;
  pointer-events: none;

  background-image: url("data:image/svg+xml,%3Csvg width='60' height='60' viewBox='0 0 60 60' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23ffffff' fill-opacity='0.06' fill-rule='evenodd'%3E%3Cpath d='M36 34v-4h-2v4h-4v2h4v4h2v-4h4v-2h-4zm0-30V0h-2v4h-4v2h4v4h2V6h4V4h-4zM6 34v-4H4v4H0v2h4v4h2v-4h4v-2H6zM6 4V0H4v4H0v2h4v4h2V6h4V4H6z'/%3E%3C/g%3E%3C/svg%3E");

  background-repeat: repeat;
  background-size: 40px 40px;
}

.about-content .stack-about .title-stack {
  padding: 30px 0 7px;
  text-align: center;
}

.about-content .stack {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  padding: 30px 10px;
}

.about-content .stack .card-stack {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #8f8f8f73;
  font-size: larger;
  padding: 20px 55px;
  border-radius: 20px;
  width: 100%;
  max-width: 150px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.about-content .stack .card-stack svg {
  width: 30px;
  height: 30px;
  box-sizing: content-box;
  background: #0060d1;
  padding: 15px 15px;
  margin: 5px 0;
  border-radius: 10px;
}

.about-content .about-me {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  line-height: 1.5;
}

.about-me .obs-about {
  font-size: larger;
  line-height: 1.5;
  display: flex;
  color: var(--cor-textApagado);
}

.about-me .obs-about:before {
  content: "";
  background-color: var(--corBtn-primary);
  border-radius: 20px;
  max-width: 120px;
  width: 15px;
  margin: 0 10px;
}

/* SERVIÇOS */

.service {
  color: #000;
  background-color: #fff;
  width: 100%;
  height: 100%;
  margin: auto;

  padding-bottom: 50px;
}

.card-service {
  width: 100%;
  margin: auto;
  gap: 30px;
  flex-wrap: wrap;
  max-width: 1400px;
  justify-content: center;
  display: flex;
  align-items: stretch;
}

/* PROJETOS */

.section-projects {
  background: white;
  padding-bottom: 60px;
}

.projects {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 40px;
}

/* Escolher */

.choose {
  background: linear-gradient(157deg, #00000085, #0d0b99b0);
}

.choose .escolher {
  height: 60vh;
}

.choose .infor-section {
  padding: 70px;
}

.choose .escolher .infor-section {
  background-color: transparent;
  color: white;
}

.choose .escolher .infor-section p {
  padding: 20px;
  color: #d1d0cfcc;
}

.choose .cardChoose {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
  padding: 30px 0;
}

/* depoimentos */

article {
  /* display: none; */
}

article .depoiments {
  background: white;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;

  padding-bottom: 50px;
}

/* Orcamento */
.section-orcament {
  background-color: white;
}

.section-orcament .benefit-content {
  display: flex;
  align-items: center;
  margin: auto;
  max-width: 1100px;
  justify-content: center;
  padding: 40px;

  background: linear-gradient(155deg, #2057dd, #001a67);
  border-radius: 10px;
  padding: 50px;
}

footer {
  text-align: center;
  color: var(--cor-textApagado);
  padding: 40px;
  background-color: white;
}
